<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.share.dao.BlogLabelMapper">
  <resultMap id="BaseResultMap" type="com.gem.share.entity.BlogLabel">
    <id column="bloglabel_id" jdbcType="INTEGER" property="bloglabelId" />
    <result column="blog_id" jdbcType="INTEGER" property="blogId" />
    <result column="label_id" jdbcType="INTEGER" property="labelId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bloglabel_id, blog_id, label_id
  </sql>
  <select id="selectByExample" parameterType="com.gem.share.entity.BlogLabelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bloglabel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bloglabel
    where bloglabel_id = #{bloglabelId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bloglabel
    where bloglabel_id = #{bloglabelId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gem.share.entity.BlogLabelExample">
    delete from bloglabel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gem.share.entity.BlogLabel">
    insert into bloglabel (bloglabel_id, blog_id, label_id
      )
    values (#{bloglabelId,jdbcType=INTEGER}, #{blogId,jdbcType=INTEGER}, #{labelId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gem.share.entity.BlogLabel">
    insert into bloglabel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bloglabelId != null">
        bloglabel_id,
      </if>
      <if test="blogId != null">
        blog_id,
      </if>
      <if test="labelId != null">
        label_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bloglabelId != null">
        #{bloglabelId,jdbcType=INTEGER},
      </if>
      <if test="blogId != null">
        #{blogId,jdbcType=INTEGER},
      </if>
      <if test="labelId != null">
        #{labelId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gem.share.entity.BlogLabelExample" resultType="java.lang.Long">
    select count(*) from bloglabel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bloglabel
    <set>
      <if test="record.bloglabelId != null">
        bloglabel_id = #{record.bloglabelId,jdbcType=INTEGER},
      </if>
      <if test="record.blogId != null">
        blog_id = #{record.blogId,jdbcType=INTEGER},
      </if>
      <if test="record.labelId != null">
        label_id = #{record.labelId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bloglabel
    set bloglabel_id = #{record.bloglabelId,jdbcType=INTEGER},
      blog_id = #{record.blogId,jdbcType=INTEGER},
      label_id = #{record.labelId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gem.share.entity.BlogLabel">
    update bloglabel
    <set>
      <if test="blogId != null">
        blog_id = #{blogId,jdbcType=INTEGER},
      </if>
      <if test="labelId != null">
        label_id = #{labelId,jdbcType=INTEGER},
      </if>
    </set>
    where bloglabel_id = #{bloglabelId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gem.share.entity.BlogLabel">
    update bloglabel
    set blog_id = #{blogId,jdbcType=INTEGER},
      label_id = #{labelId,jdbcType=INTEGER}
    where bloglabel_id = #{bloglabelId,jdbcType=INTEGER}
  </update>

  <!--//    通过博客查询该博客的标签id-->
  <!--public List<LabelInfo> selectLabelByBlogId(int blog_id);-->
  <select id="selectLabelByBlogId" parameterType="int" resultType="LabelInfo">
    SELECT * from bloglabel where blog_id = #{_parameter}
  </select>
  <!--public List<Integer> selectLabelIdByBlogId(int blog_id);-->
  <select id="selectLabelIdByBlogId" parameterType="int" resultType="Integer">
    SELECT label_id from bloglabel where blog_id = #{_parameter}
  </select>
  <!--//    通过标签找到博客id-->
  <!--public Integer selectBlogByLabelId(int label_id);-->
  <select id="selectBlogByLabelId" parameterType="int" resultType="Integer">
    SELECT blog_id FROM bloglabel where label_id =#{_parameter}
  </select>
  <!--public List<BlogContent> selectBlogByLabelId(int label_id);-->
  <select id="selectBlogByLabelId" parameterType="int" resultType="BlogContent">
    select * from bloglabel where label_id=#{_parameter}
  </select>
  <!--public List<BlogContent> selectBlogByLabelName(String labelName);-->
  <select id="selectBlogByLabelName" parameterType="String" resultType="BlogContent">
    SELECT * from bloglabel where label_id=(select label_id from labelinfo where labelName=#{_parameter})
  </select>
</mapper>