<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.share.dao.ChatMapper">



    <!--//    根据用户id查询所有聊过天的好友信息-->
    <!--public List<UserInfo> selectFriendByUserId(int usr_id);-->
    <select id="selectFriendByUserId" parameterType="int" resultType="UserInfo">
        SELECT * FROM userinfo WHERE user_id IN
	(SELECT DISTINCT user_id_Recv FROM chatrecord WHERE user_id_Send = #{_paramter} OR user_id_Recv =#{_paramter} )
    </select>

    <!--//    插入聊天信息-->
    <!--public boolean insertSendMessage(String message,Date sendTime,int sendId,int receiveId);-->
    <insert id="insertSendMessage">
        INSERT INTO chatrecord(messagePost,sendTime,user_id_Send,user_id_Recv) VALUES (#{message},#{sendTime},#{sendId},#{receiveId});
    </insert>

    <!--//    查询最新一条的聊天记录-->
    <!--public ChatRecord selectMessage(int sendId,int receiveId);-->
    <select id="selectMessage" resultType="ChatRecord">
        SELECT * FROM chatrecord WHERE user_id_Send = #{sendId} AND user_id_Recv = #{ReceiveId} ORDER BY sendTime DESC LIMIT 0,1
    </select>

</mapper>