<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gem.share.dao.ManagerInfoMapper">
  <resultMap id="BaseResultMap" type="com.gem.share.entity.ManagerInfo">
    <id column="manager_id" jdbcType="INTEGER" property="managerId" />
    <result column="managerAccount" jdbcType="VARCHAR" property="manageraccount" />
    <result column="managerPwd" jdbcType="VARCHAR" property="managerpwd" />
    <result column="managerLimit" jdbcType="INTEGER" property="managerlimit" />
  </resultMap>
  <!--List<ManagerInfo> selectAllManagerInfos();-->
  <select id="selectAllManagerInfos" resultType="ManagerInfo">
    select * from ManagerInfo;
  </select>
  <!--ManagerInfo selectManagerInfoById(int id);-->
  <select id="selectManagerInfoById" parameterType="int" resultType="ManagerInfo">
    select * from ManagerInfo where manager_id=#{_parameter}
  </select>
  <!--void insertManagerInfo(ManagerInfo ManagerInfo);-->
  <insert id="insertManagerInfo" parameterType="ManagerInfo">
    insert into ManagerInfo(managerAccount,managerPwd,managerLimit)
    values (#{manageraccount,jdbcType=VARCHAR}, #{managerpwd,jdbcType=VARCHAR},1)
  </insert>
  <!--void updateManagerInfo(ManagerInfo ManagerInfo);-->
  <update id="updateManagerInfo" parameterType="ManagerInfo">
    update ManagerInfo set managerAccount=#{manageraccount},managerPwd=#{managerpwd}
    where manager_id=#{managerId}
  </update>
  <!--void deleteManagerInfo(int id);-->
  <delete id="deleteManagerInfo" parameterType="int">
    DELETE FROM manageropetime where manager_id=#{_parameter};
    DELETE FROM manageropecontent where manager_id=#{_parameter};
    DELETE FROM ManagerInfo where manager_id=#{_parameter}
  </delete>

</mapper>